.TodoItem {
    background-color: #202020;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: 12px;
}

.TodoItem-p {
    margin: 16px 0 16px 16px;
    width: calc(100% - 120px);
    font-size: 18px;
    color: #FFF;
    line-height: 24px;
    font-weight: 400;
}

.TodoItem-p--completed {
    text-decoration: line-through;
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
}

.Icon-check {
    position: absolute;
    left: 12px
}

.Icon-check--active {
    color: #4CAF50;
}

.Icon-delete {
    position: absolute;
    top: -12px;
    right: 0;
}

.Icon-delete:hover {
    color: red;
}