.CreateTodoButton {
    /* background-color: #A13333;  */
    background-color: #C84B31;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 28px;
    position: fixed;
    bottom: 24px;
    right: 24px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    z-index: 2;
    box-shadow: rgba(239, 239, 239, 0.15) 1.95px 1.95px 2.6px;
    /* box-shadow: rgba(252, 252, 252, 0.15) 0px 5px 25px; */
}