.TaskItem {
    background-color: #202020;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: 12px;
}

.TaskItem-p {
    margin: 16px 0 16px 16px;
    width: calc(100% - 120px);
    font-size: 18px;
    color: #FFF;
    line-height: 24px;
    font-weight: 400;
}

.TaskItem-p--completed {
    text-decoration: line-through;
}
